#tabelas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.partida{
    background-color: #881a01;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 3px black;

    width: 55vw;
    height: 25vw;
    border-radius: 5px;
}

#tabelas p {
    font-size: 1.8vw;
    text-decoration: underline;
    padding: 10px;
}

button{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: white;

}

table{
    border-collapse: collapse;

    width: 100%;
}

tr{
    text-align: center;
}

.partida td, .partida th{
    border: 2px solid black;
    border-top: 0;
    border-left: 0;

    width: 150px;
    height: 20px;
}

select{
    width: 100%;
    height: 100%;
    text-align: center;

    border: none;
}

.butoes{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
    width: 20vw;
}

.butoes button{
    margin-inline: 20px;

    text-align: center;
    font-size: 1vw;
}


/*POPUP*/

.popup{
    overflow-y: scroll;
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: rgba(29, 29, 29, 0.918);


    border-radius: 5px;

    top: -10000px;

    display: block;

    transition: 2s ease-in-out;
}

.popup header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup header h1{
    margin-left: 22vw;
}

.popup header .close_popup{
    margin-left: 20vw;
    margin-bottom: 6vw;
    margin-top: 6vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    transition: .5s;
}

.popup header .close_popup:hover{
    background-color: black;
}

.popup_table{
    width: 80%;
    height: 100%;

    margin: auto;
}



.popup_table th , .popup_table td{
    border: solid white 2px;

    width: 200px;

    font-size: 1.5vw;
}

@media (max-width:1200px) {
    .partida{
        background-color: #881a01;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        border: solid 3px black;
    
        width: 70vw;
        height: 60vw;
        border-radius: 5px;
    }

    #tabelas p {
        font-size: 3vw;
        text-decoration: underline;
        padding: 10px;
    }
    .butoes{
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 10px;
        width: 100%;
    }
    
    .butoes button{
        margin-inline: 20px;
    
        height: 4vw;
        width: 10vw;
        text-align: center;
        font-size: 1.5vw;
    }

    table{
        border-collapse: collapse;
    
        width: 100%;
    }
    
    tr{
        text-align: center;
    }
    
    .partida td, .partida th{
        border: 2px solid black;
        border-top: 0;
        border-left: 0;
    
        width: 150px;
        height: 20px;
    }
}

@media (max-width:900px) {
    .partida{
        background-color: #881a01;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        border: solid 3px black;
    
        width: 70vw;
        height: 65vw;
        border-radius: 5px;
    }

    #tabelas p {
        font-size: 4vw;
        text-decoration: underline;
        padding: 10px;
    }
    .butoes{
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 10px;
        width: 100%;
    }
    
    .butoes button{
        margin-inline: 20px;
    
        height: 5vw;
        width: 15vw;
        text-align: center;
        font-size: 2vw;
    }

    table{
        border-collapse: collapse;
    
        width: 100%;
    }
    
    tr{
        text-align: center;
    }
    
    .partida td, .partida th{
        border: 2px solid black;
        border-top: 0;
        border-left: 0;
    
        width: 150px;
        height: 20px;
    }
}

@media (max-width:800px) {
    .partida{
        background-color: #881a01;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        border: solid 3px black;
    
        width: 70vw;
        height: 95vw;
        border-radius: 5px;
    }

    #tabelas p {
        font-size: 4vw;
        text-decoration: underline;
        padding: 10px;
    }
    .butoes{
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 10px;
        width: 100%;
    }
    
    .butoes button{
        margin-inline: 20px;
    
        height: 5vw;
        width: 15vw;
        text-align: center;
        font-size: 2vw;
    }

    table{
        border-collapse: collapse;
    
        width: 100%;
    }
    
    tr{
        text-align: center;
    }
    
    .partida td, .partida th{
        border: 2px solid black;
        border-top: 0;
        border-left: 0;
    
        width: 150px;
        height: 20px;
    }
}

@media (max-width:640px){
    .partida{
        background-color: #881a01;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        border: solid 3px black;
    
        width: 70vw;
        height: 95vw;
        border-radius: 5px;
    }

    #tabelas p {
        font-size: 4vw;
        text-decoration: underline;
        padding: 10px;
    }
    .butoes{
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 10px;
        width: 100%;
    }
    
    .butoes button{
        margin-inline: 20px;
    
        height: 5vw;
        width: 15vw;
        text-align: center;
        font-size: 2vw;
    }

    table{
        border-collapse: collapse;
    
        width: 100%;
    }
    
    tr{
        text-align: center;
    }
    
    .partida td, .partida th{
        border: 2px solid black;
        border-top: 0;
        border-left: 0;
    
        width: 150px;
        height: 20px;
    }
}

@media (max-width:450px) {
    .partida{
        background-color: #881a01;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        border: solid 3px black;
    
        width: 70vw;
        height: 170vw;
        border-radius: 5px;
    }

    #tabelas p {
        font-size: 4vw;
        text-decoration: underline;
        padding: 10px;
    }
    .butoes{
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 10px;
        width: 100%;
    }
    
    .butoes button{
        margin-inline: 20px;
    
        height: 10vw;
        width: 22vw;
        text-align: center;
        font-size: 3.5vw;
    }

    table{
        border-collapse: collapse;
    
        width: 100%;
    }
    
    tr{
        text-align: center;
    }
    
    .partida td, .partida th{
        border: 2px solid black;
        border-top: 0;
        border-left: 0;
    
        width: 150px;
        height: 20px;
    }
}
