*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

body{
    background-color: #b32000;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.container main{
    background-color: #9e1e01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 90%;
    height: 45vw;

    margin-bottom: 1vw;
    border-radius: 20px;
}

main h1{
    font-size: 3vw;
}

main p{
    font-size: 1.2vw;
    width: 90%;
}

main button{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: white;

    text-align: center;


    line-height: 12px;

    font-size: .9vw;

    height: 3vw;
    width: 10vw;

    cursor: pointer;
}

main .aguia{
    width: 40vw;
}

@media (max-width:1200px) {
    .container main{
        background-color: #9e1e01;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        width: 90%;
        height: 90%;
    
        margin-bottom: 2vw;
        border-radius: 20px;
    }
    
    main h1{
        font-size: 3vw;
    }
    
    main p{
        font-size: 1.3vw;
        width: 90%;
    }
    
    main button{
        background-color: black;
        color: white;
        border-radius: 5px;
        border-color: white;
    
        text-align: center;

        margin-block: 2vw;
    
        line-height: 12px;
    
        font-size: 1.5vw;
    
        height: 5vw;
        width: 18vw;
    }
    
    main .aguia{
        width: 45vw;
    }
}

@media (max-width:800px) {
    
    .container main{
        background-color: #9e1e01;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        width: 80%;
        height: 95%;
    
        margin-bottom: 2vw;
        border-radius: 20px;
    }
    
    main h1{
        font-size: 5vw;
    }
    
    main p{
        font-size: 2vw;
        width: 90%;
    }
    
    main button{
        background-color: black;
        color: white;
        border-radius: 5px;
        border-color: white;
    
        text-align: center;
    
        background-color: green;
    
        line-height: 12px;

        margin-top: 5vw;
    
        font-size: 1.8vw;
    
        height: 5.5vw;
        width: 19vw;
    }
    
    main .aguia{
        width: 55vw;
    }
    
}

@media (max-width:650px){

    .container main{
        background-color: #9e1e01;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        width: 80%;
        height: 95%;
    
        margin-bottom: 2vw;
        border-radius: 20px;
    }
    
    main h1{
        font-size: 5vw;
    }
    
    main p{
        font-size: 2.5vw;
        width: 90%;
    }

    main button{
        background-color: black;
        color: white;
        border-radius: 5px;
        border-color: white;
    
        text-align: center;

        margin-top: 10vw;

        line-height: 12px;
    
        font-size: 1.8vw;
    
        height: 8vw;
        width: 24vw;
    }

    main .aguia{
        width: 60vw;
    }
}
